<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>BiNSCh 2023/24</title>
	<link rel="stylesheet" href="/static/style.css" />
	<script src="/static/main.js"></script>
	<script src="../static/main.js"></script>
</head>
<body>
	<h2>BiNSCh 2023/24 - Kontrola dostępu do CPU/RAM w Dockerze</h2>
	<p>Jan Trusiłło (s180141@student.pg.edu.pl)</p>

	<div class="test-section" id="cpu-test">
		<h3>Test obliczeniowy</h3>
		<button id="start-cpu-test" onclick="cpuTest()">Uruchom</button>
		<label for="cpu-test-parallel-reqs">Liczba jednoczesnych zapytań</label>
		<input type="text" id="cpu-test-parallel-reqs" value="1" />

		<p><b>Wyniki: </b></p>
		<div id="cpu-test-results" class="results">

		</div>
	</div>

	<div class="test-section" id="mem-test">
		<h3>Test alokacji</h3>
		<label for="mem-test-alloc-size">Rozmiar alokacji (np. 64M, 2G, itd.)</label>
		<input type="text" id="mem-test-alloc-size" value="512M" />
		<button id="start-mem-test" onclick="memTest()">Uruchom</button>

		<p><b>Wyniki: </b></p>
		<div id="mem-test-results" class="results">

		</div>
	</div>
</body>
</html>